$primary: #ddcdd5; 

$onPrimary: #414151; 

$primaryContainer: #58576e; 

$onPrimaryContainer: #c8afbc; 

$secondary: #ebe6e4; 

$onSecondary: #5b5b5b; 

$secondaryContainer: #5b5b5b; 

$onSecondaryContainer: #ebe6e4; 

$tertiary: #ddcdcd; 

$onTertiary: #4a4151; 

$tertiaryContainer: #c8afaf; 

$onTertiaryContainer: #c8afaf; 

$error: #ffb4a9; 

$onError: #680003; 

$errorContainer: #930006; 

$onErrorContainer: #ffb4a9; 

$colorbarbg: #1b1f26; 

$background: #1b1f26; 

$onBackground: #dad3d9; 

$surface: #1b1f26; 

$onSurface: #dad3d9; 

$surfaceVariant: #D18E75; 

$onSurfaceVariant: #dad3d9; 

$outline: #dad3d9; 

$shadow: #000000; 

$inverseSurface: #e4e0d9; 

$inverseOnSurface: #252c26; 

$inversePrimary: #22322a; 

$darkmode: true;
