$primary: #d9dad1; 

$onPrimary: #c69d2c; 

$primaryContainer: #d8b34d; 

$onPrimaryContainer: #c1c3b5; 

$secondary: #eae5de; 

$onSecondary: #444444; 

$secondaryContainer: #444444; 

$onSecondaryContainer: #eae5de; 

$tertiary: #d5dad1; 

$onTertiary: #a2c62c; 

$tertiaryContainer: #bbc3b5; 

$onTertiaryContainer: #bbc3b5; 

$error: #ffb4a9; 

$onError: #680003; 

$errorContainer: #930006; 

$onErrorContainer: #ffb4a9; 

$colorbarbg: #160d09; 

$background: #160d09; 

$onBackground: #e7dec8; 

$surface: #160d09; 

$onSurface: #e7dec8; 

$surfaceVariant: #D5B670; 

$onSurfaceVariant: #e7dec8; 

$outline: #e7dec8; 

$shadow: #000000; 

$inverseSurface: #e9f2f6; 

$inverseOnSurface: #182137; 

$inversePrimary: #26252e; 

$darkmode: true;
