.prayertimes-bg {
    @include large-rounding;
    @include elevation-border;
    @include elevation2;
    margin-bottom: 0.682rem;
    background-color: $t_background;
    padding: 1.364rem;
}

.prayertimes-key {
    min-height: 1.364rem;
    min-width: 1.364rem;
    margin: 0.17rem;
    padding: 0.136rem 0.205rem;
    border-radius: 0.409rem;
    -gtk-outline-radius: 0.409rem;
    color: $primary;
    border: 0.068rem solid $primary;
    box-shadow: 0rem 0.136rem 0rem $primary;
    font-weight: 500;
}

.prayertimes-font {
    @include fontarabic;
    color: $primary;

.prayertimes-key-notkey {
    min-height: 1.364rem;
    padding: 0.136rem 0.205rem;
    margin: 0.17rem;
    color: $onPrimaryContainer;
}

// .cheatsheet-action {}

.prayertimes-category-title {
    @include titlefontarabic;
    font-size: 1.705rem;
}
